services:

    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Kernel.php'

    # App\Controller\:
    #     resource: '../src/Controller/'
    #     autowire: true
    #     autoconfigure: true

    # App\Security\CasAuthenticator:
    #     autowire: true
    #     autoconfigure: true
