<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Accueil public</title>
</head>
<body>
    <h1>Bienvenue sur la page publique</h1>
    <p>Ceci n’est pas protégé par CAS.</p>
    <a href="{{ path('app_hello') }}">Aller à la page protégée</a>
</body>
</html>
