security:
  enable_authenticator_manager: true

  providers:
    cas_provider:
      id: App\Security\User\CasUserProvider


  firewalls:
      dev:
          pattern: ^/(_(profiler|wdt)|css|images|js)/
          security: false

    # main firewall (catch-all)
      main:
          pattern: ^/
          provider: cas_provider
          custom_authenticator: App\Security\CasAuthenticator
          logout: { path: app_logout, invalidate_session: true} # target: "/" 
          stateless: false


  # if firewalls are disable (security false), access_control is ignored!
  access_control:
    - { path: ^/$, roles: PUBLIC_ACCESS } # / is public
    - { path: ^/private, roles: ROLE_USER } # /private requires ROLE_USER
    - { path: ^/public, roles: PUBLIC_ACCESS } # /public is public
    - { path: ^/cas-logout, roles: ROLE_USER }
    - { path: ^/.*, roles: ROLE_USER } # catch-all rule requires ROLE_USER


    # - { path: ^/admin, roles: ROLE_ADMIN } # /admin requires ROLE_ADMIN
    # - { path: ^/, roles: IS_AUTHENTICATED_ANONYMOUSLY }
