security:
  enable_authenticator_manager: true

  providers:
    app_user_provider:
      memory:
        users:
          toto: { roles: ['ROLE_USER'] }
          admin: { roles: ['ROLE_USER', 'ROLE_ADMIN'] }

  firewalls:

    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    public:
      pattern: ^/$
      security: false

    main:
      pattern: ^/                           # catch-all firewall
      provider: app_user_provider           # how to load users
      lazy: true                            # don't authenticate until needed
      custom_authenticator: App\Security\CasAuthenticator
      logout: { path: /logout, target: / }
  
  # if firewalls are disable (security false), access_control is ignored!
  access_control:
    - { path: ^/$, roles: PUBLIC_ACCESS }   # / is public
    - { path: ^/admin, roles: ROLE_ADMIN }  # /admin requires ROLE_ADMIN
    - { path: ^/hello, roles: ROLE_USER }   # /hello requires ROLE_USER 
    - { path: ^/.*, roles: ROLE_USER }      # catch-all rule requires ROLE_USER
    
