security:
  enable_authenticator_manager: true

  providers:
    cas_provider:
      id: App\Security\User\CasUserProvider

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    # main firewall (catch-all)
    main:
      pattern: ^/
      provider: cas_provider
      custom_authenticator: App\Security\CasAuthenticator
      entry_point: App\Security\CasEntryPoint
      logout: { path: app_logout, invalidate_session: true, target: "/" }
      stateless: false

  # if firewalls are disable (security false), access_control is ignored!
  access_control:
    - { path: ^/public, roles: PUBLIC_ACCESS }
    - { path: ^/private, roles: ROLE_USER }
    - { path: ^/login, roles: ROLE_USER }
    - { path: ^/cas-logout, roles: ROLE_USER }
    - { path: ^/, roles: PUBLIC_ACCESS }

