security:
  enable_authenticator_manager: true

  providers:
    cas_provider:
      id: App\Security\User\CasUserProvider

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    homepage:
      pattern: ^/$
      security: false

    public:
      pattern: ^/public
      security: false

    # catch-all firewall => CAS
    main:
      pattern: ^/
      lazy: true # don't authenticate until needed
      provider: cas_provider # how to load users
      custom_authenticator: App\Security\CasAuthenticator # how to auth users
      logout: { path: app_logout, invalidate_session: true, target: "/" }

  # if firewalls are disable (security false), access_control is ignored!
  access_control:
    - { path: ^/$, roles: PUBLIC_ACCESS } # / is public
    - { path: ^/public, roles: PUBLIC_ACCESS } # /public is public
    - { path: ^/hello, roles: ROLE_USER } # /hello requires ROLE_USER
    - { path: ^/admin, roles: ROLE_ADMIN } # /admin requires ROLE_ADMIN
    - { path: ^/.*, roles: ROLE_USER } # catch-all rule requires ROLE_USER

