security:
  enable_authenticator_manager: true

  providers:
    app_user_provider:
      memory:
        users:
          toto: { roles: ['ROLE_USER'] }
          admin: { roles: ['ROLE_USER', 'ROLE_ADMIN'] }

  firewalls:

    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    public:
      pattern: ^/$
      security: false

    main:
      # pattern: ^/
      # pattern: ^/hello
      lazy: true
      provider: app_user_provider
      custom_authenticator: App\Security\CasAuthenticator
      logout: { path: /logout, target: / }
      
  access_control:
    - { path: ^/$, roles: PUBLIC_ACCESS }
    - { path: ^/hello, roles: ROLE_USER }
    - { path: ^/.*, roles: ROLE_USER }
    
